<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @buyer.first_name %>, votre commande a bien été validée</h1>
    <p>
      Produit : <%=@transaction.offer.product.prod_name%>
      Quantité : <%=@transaction.transa_quantity%> kg </br>
      Lieu de rendez-vous : <%=@transaction.transa_adress%> à <%=@transaction.transa_city%></br>
      Le : <%=@transaction.transa_date.to_date.to_formatted_s(:long)%></br></br>
      <strong>Lors du rendez-vous, veuillez envoyer le numéro de commande: <%= @transaction.id %> par SMS au +33757901073 pour valider la transaction </strong>
    </p>
    <p>
      Pour accéder à votre espace client, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur Eden !
  </body>
</html>