<ul>
  <% if @buyer.errors.any? %>                      
    <p>Nous n'avons pas réussi à modifier le potin pour la (ou les) raison(s) suivante(s) :</p>
    <% @buyer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>


<div></div>
  <div class="section-5">
    <div class="container-2 w-container">
      <div class="product">
        <div class="product-info">
          <h1 class="heading-3">Mettre à jour mon profil</h1> <br/>
          <div class="w-form">

          <%= form_for @buyer do |f| %>

            <%= f.label :Prénom %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "text-field-2 w-input" %><br/>

            <%= f.label :Nom %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "text-field-2 w-input" %><br/>

            <%= f.label :Zipcode %><br />
            <%= f.text_field :buyer_zipcode, autofocus: true, autocomplete: "buyer_zipcode", class: "text-field-2 w-input" %><br/>
            
            <%= f.label :Adresse %>
            <%= f.text_field :buyer_adress, autofocus: true, autocomplete: "buyer_adress", class: "text-field-2 w-input" %><br/>

            <%= f.label :Ville %>
            <%= f.text_field :buyer_city, autofocus: true, autocomplete: "buyer_city", class: "text-field-2 w-input" %><br/>

            <%= f.label :Pays %>
            <%= f.text_field :buyer_country, autofocus: true, autocomplete: "buyer_country", class: "text-field-2 w-input" %>

            <button type="submit" class="button small w-button">Editer le profil</button>
                                  
          <% end %>
          
          </div>
        </div>
      </div>
    </div>
  </div>