
<div></div>
  <div class="section-3">
    <div class="container-2 w-container">
      <div class="product">
        <div class="product-info">
          <h1 class="heading-3"><%=Product.find(@offer.product_id).prod_name %></h1>
          <p class="text-grey">Quantité totale : <%=@offer.offer_quantity %>kg<br>Date de la récolte : <%=@offer.date_harvest.to_date.to_formatted_s(:long)  %><br>Lieu de la récolte : <%=@offer.offer_city%></p>
          <div class="product-price">Prix : <%=@offer.offer_price %> FCFA/kg</div>
          <div class="w-form">
            <%= form_for @newtransaction, :url => "/offers/#{@offer.id}/transactions"  do |f| %>
              <label class="label"><%= f.label :Date_de_rencontre %></label>
              <%= f.date_field :transa_date, autofocus: true, autocomplete: "transa_date", min: @offer.date_harvest %><br /><br />
              <%= f.label :Quantité %>
              <%= f.number_field :transa_quantity, autofocus: true,in: 0..@offer.offer_quantity, step: 5, autocomplete: "transa_quantity" %> kg <br />
              <button type='submit' class="button small w-button"> Ajouter au panier </button>
            <%end%>
          </div>
        </div>
        <div class="product-image-wrapper"><img src="https://uploads-ssl.webflow.com/5d7e3127cad5177918ca3737/5d7e49b0a3db08f53036d9b4_lemon.svg" alt="" class="full-width"></div>
      </div>
    </div>
  </div>