  <div class="section-4">
    <div class="container-2 w-container">
      <div class="product">
            <div class="product-info">
              <h1 class="heading-3"><%=@transaction.offer.product.prod_name%><span> <%= image_tag("#{@offer.product.prod_name}.svg", width: "50px")%></span></h1>
              <p class="text-grey"><br>‍<br>Date de la récolte : <%=@offer.date_harvest %><br><br>
              Date de rencontre : <%=@transaction.transa_date%><br><br>
              Lieu de l'échange : <%=@transaction.transa_adress%>, <%=@transaction.transa_city%>, <%=@transaction.transa_zipcode%><br>‍<br>
              Quantité achetée: <%=@transaction.transa_quantity%>kg<br>‍<br>
              Prix: <%=@transaction.transa_quantity*@offer.offer_price%>€</p>
              <a href="<%=edit_offer_transaction_path(@offer.id)%>" role="button" class="button is-primary is-outlined">Editer</a>
            </div>
      </div>
    </div>
  </div>



