<!DOCTYPE html>
<html>
  <head>
    <title>Eden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <% if current_buyer%>
      <%= link_to "Eden", offers_path %>&nbsp;
      <%= link_to "Mon Profil", buyer_path(current_buyer.id) %>&nbsp;
      <%= link_to "Se déconnecter", destroy_buyer_session_path, :data => {:confirm => 'Are you sure?'},:data => {:method => 'DELETE'} %><br />
    <%else%>
      <%= link_to "Eden", root_path %>&nbsp;
      <%= link_to "Se connecter", new_buyer_session_path %>&nbsp;
      <%= link_to "S'inscrire", new_buyer_registration_path %><br />
    <%end%>

    <%= yield %>
    
    <%= csrf_meta_tags %>
  </body>
</html>
