<!DOCTYPE html>
<html>
  <head>
    <title>Eden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <% if current_buyer%>
      <%= link_to "Profil", buyer_path(current_buyer.id) %><br />
    <%else%>
      <%= link_to "Log in", new_buyer_session_path %><br />
      <%= link_to "Sign up", new_buyer_registration_path %><br />
    <%end%>

    <%= yield %>
    
    <%= csrf_meta_tags %>
  </body>
</html>
